footer {
  padding: 37px 0 59px;
  position: relative;
  z-index: 1;
  margin: 40px 0 0;
}
footer::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  height: 1px;
  max-width: 1800px;
  width: calc(100% - 120px);
  background: #FFF;
}
footer .container {
  max-width: 1920px;
  padding: 0 60px;
}
footer .phone {
  color: #fff;
}
footer .phone:hover {
  color: #E4370E;
}
footer .nav-menu {
  margin: 0 auto;
  font-weight: 400;
}
footer .nav-menu .nav-item {
  margin: 0 60px 0 0;
}
footer .nav-menu .nav-item:last-child {
  margin: 0;
}

.footer {
  margin: 75px 0 0;
}
.footer::before {
  background: #595959;
}
.footer .phone {
  color: #595959;
}
.footer .phone:hover {
  color: #fff;
}
.footer .nav-menu .nav-item .nav-link {
  color: #595959;
}

.modal-dialog {
  max-width: 652px;
}

.modal-content {
  border: none;
  border-radius: 40px;
  background: #FFF;
  padding: 45px 40px 40px;
}
.modal-content .btn-group .btn {
  margin: 0 35px 0 0;
  padding: 0 30px;
}
.modal-content .btn-group .btn:last-child {
  margin: 0;
}
.modal-content .link {
  margin: 0 auto;
}

.modal-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto;
  max-width: 380px;
  line-height: normal;
}
.modal-title span {
  display: block;
  font-weight: normal;
}

.modal-header {
  padding: 0;
  border: none;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.modal-header .btn-close {
  padding: 9px;
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 16px;
  right: 16px;
  margin: 0;
  border: none;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  background: #333;
  fill: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-header .box-text {
  width: 100%;
  max-width: 461px;
  margin: 22px auto 0;
}

.modal-body {
  padding: 0;
}

.form-code {
  margin: 33px auto 0;
}
.form-code label {
  margin: 0 7px;
  width: 60px;
}
.form-code input {
  padding: 0;
  border-radius: 20px;
  text-align: center;
  height: 90px;
  font-size: 48px;
  font-weight: bold;
}
.form-code [type=submit] {
  margin: 37px auto 0;
}
.form-code .form-group {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.modal-icon {
  margin: 0 auto 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 96px;
  height: 96px;
}

.modal-v2 .box-text {
  max-width: 500px;
}
.modal-v2 .modal-body {
  margin: 40px auto 0;
}
.modal-v2 .btn {
  margin: 0 auto;
}
.modal-v2 .form-code {
  margin: 0;
}
.modal-v2 .form-code [type=submit] {
  margin: 50px auto 0;
}
.modal-v2 .form-code .link {
  margin: 23px auto 0;
}

#participationModal .modal-title {
  max-width: 320px;
}