.home {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.home-product {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 64px;
  color: #fff;
}

.entrance {
  margin: 120px 0;
}
.entrance .logo {
  margin: 0 0 90px;
}
.entrance .container {
  padding: 0 15px;
  max-width: 1500px;
}
.entrance .home-product {
  padding: 64px;
  background: url("../img/entrance.png") no-repeat center;
  background-size: cover;
  min-height: 840px;
  min-width: 1098px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-radius: 60px 0 0 60px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.entrance .home-product::before {
  content: "%";
  bottom: -10px;
  right: -50px;
  font-size: 296px;
  font-weight: 750;
  line-height: 0.7;
  position: absolute;
  z-index: -1;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.entrance h1 {
  margin: 0;
  text-transform: uppercase;
}
.entrance h1 span {
  font-weight: normal;
  font-size: 32px;
  text-transform: none;
  display: block;
  margin: 0 0 16px;
}

.entrance-box h3 {
  margin: 0 0 40px;
  font-size: 32px;
  font-weight: normal;
}
.entrance-box h4 {
  margin: 0 0 24px;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
}

.entrance-profile {
  margin: 40px 0 0;
}

.form-entrance input {
  height: 65px;
  padding: 0 40px;
  font-size: 20px;
}
.form-entrance .select-my {
  height: 65px;
  font-size: 20px;
}
.form-entrance .btn-group {
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.form-entrance [type=submit] {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
}
.form-entrance .btn-group > .btn-group:not(:last-child) > .btn, .form-entrance .btn-group > .btn.dropdown-toggle-split:first-child, .form-entrance .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .form-entrance .btn-group > .btn-group:not(:first-child), .form-entrance .btn-group > :not(.btn-check:first-child) + .btn {
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
}
.form-entrance input[type=radio] {
  width: auto;
  height: auto;
  -webkit-appearance: auto;
     -moz-appearance: auto;
          appearance: auto;
}

.btn-view-password {
  cursor: pointer;
}

.forgot-password {
  margin: 20px 0 0;
  font-size: 20px;
}

.registration .logo {
  margin: 0 0 15px;
}

.archive-section {
  margin: 120px 0;
}

.cabinet-box {
  width: 100%;
  background: #fff;
  margin: 0 0 35px;
  padding: 24px 60px;
  border-radius: 30px;
}
.cabinet-box h3 {
  font-weight: normal;
  margin: 0 0 30px;
}
.cabinet-box:last-child {
  margin: 0;
}
.cabinet-box .btn {
  margin: 0 0 0 auto;
}

.admin-name {
  font-size: 32px;
  font-weight: bold;
}

.admin-contacts__item {
  color: #333;
  font-size: 32px;
  margin: 0 0 23px;
}
.admin-contacts__item:last-child {
  margin: 0;
}
.admin-contacts__item:hover {
  color: #E4370E;
}

.form-cabinet {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.form-cabinet label {
  max-width: 338px;
  width: 100%;
  margin: 0 13px 0 0;
}
.form-cabinet button {
  margin: 0 0 auto;
}

.sales-section {
  margin: 120px 0 72px;
}

.sales-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 40px;
  margin: 0 0 32px;
  background: #e6e6e6;
}
.sales-box__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 450px;
  width: 100%;
  padding: 38px 32px;
}
.sales-box__img img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  mix-blend-mode: multiply;
  max-width: 302px;
  max-height: 134px;
}
.sales-box__body {
  width: calc(100% - 450px);
  position: relative;
  z-index: 1;
}
.sales-box__content {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 30px;
  padding: 40px;
}
.sales-box h3 {
  font-size: 36px;
  font-weight: bold;
  width: 100%;
}
.sales-box .box-text {
  font-size: 24px;
  margin: 24px 0;
}
.sales-box:last-child {
  margin: 0;
}

.sales-slider {
  position: relative;
  z-index: 1;
}
.sales-slider::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 362px;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgb(255, 255, 255)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%);
  z-index: 1;
}
.sales-slider .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.sales-slider .slide {
  width: 644px;
  margin: 0 32px 0 0;
  height: auto;
}
.sales-slider .box-text {
  max-width: 428px;
}
.sales-slider h3 {
  max-width: 364px;
}
.sales-slider__nav {
  position: absolute;
  z-index: 1;
  right: 136px;
  top: 0;
  padding: 54px 0;
  height: 100%;
}

.sales-history {
  margin: 0 0 120px;
}

.logo-company {
  max-width: 302px;
  margin: 0 auto 0 0;
}
.logo-company img {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  mix-blend-mode: multiply;
}

.qr-code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.qr-wrapper {
  width: 100%;
  margin: 54px auto;
}
.qr-wrapper .modal-title {
  margin: 0 auto 24px;
  max-width: 460px;
}