@import "vars"

// home
.home
	position: relative
	z-index: 1
	overflow: hidden

.home-product
	position: relative
	z-index: 1
	display: flex
	flex-direction: column
	align-items: flex-end
	justify-content: flex-start
	padding: 64px
	color: #fff

// entrance page
.entrance
	margin: 120px 0
	.logo
		margin: 0 0 90px
	.container
		padding: 0 15px
		max-width: 1500px
	.home-product
		padding: 64px
		background: url('../img/entrance.png') no-repeat center
		background-size: cover
		min-height: 840px
		min-width: 1098px
		display: flex
		flex-direction: column
		align-items: flex-start
		justify-content: flex-end
		border-radius: 60px 0 0 60px
		position: relative
		z-index: 1
		overflow: hidden
		
		&::before
			content: '%'
			bottom: -10px
			right: -50px
			font-size: 296px
			font-weight: 750
			line-height: .7
			position: absolute
			z-index: -1
			color: transparent
			-webkit-text-stroke-width: 1px
			-webkit-text-stroke-color: #fff

	h1
		margin: 0
		text-transform: uppercase
		span
			font-weight: normal
			font-size: 32px
			text-transform: none
			display: block
			margin: 0 0 16px

.entrance-box
	h3
		margin: 0 0 40px
		font-size: 32px
		font-weight: normal
	h4
		margin: 0 0 24px
		font-weight: bold
		width: 100%
		font-size: 20px

.entrance-profile
	margin: 40px 0 0

.form-entrance
	input
		height: 65px
		padding: 0 40px
		font-size: 20px
	.select-my
		height: 65px
		font-size: 20px
	.btn-group
		width: 100%
		justify-content: space-between
	[type="submit"]
		width: fit-content
		border-radius: 30px
	.btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle), .btn-group > .btn-group:not(:first-child), .btn-group > :not(.btn-check:first-child) + .btn
		border-radius: 30px
		width: fit-content
		flex: none
	input[type='radio']
		width: auto
		height: auto
		appearance: auto

.btn-view-password
	cursor: pointer

.forgot-password
	margin: 20px 0 0
	font-size: 20px

.registration
	.logo
		margin: 0 0 15px
	.home-product
		margin: 0 0 0 120px	

// archive page
.archive-section
	margin: 120px 0

.cabinet-box
	width: 100%
	background: #fff
	margin: 0 0 35px
	padding: 24px 60px
	border-radius: 30px
	h3
		font-weight: normal
		margin: 0 0 30px
	&:last-child
		margin: 0
	.btn
		margin: 0 0 0 auto

.admin-name
	font-size: 32px
	font-weight: bold

.admin-contacts
	&__item
		color: #333
		font-size: 32px
		margin: 0 0 23px
		&:last-child
			margin: 0
		&:hover
			color: $accent

.form-cabinet
	width: 100%
	display: flex
	align-items: flex-start
	flex-wrap: wrap
	label
		max-width: 338px
		width: 100%
		margin: 0 13px 0 0
	button
		margin: 0 0 auto

// sales page
.sales-section
	margin: 120px 0 72px

.sales-box
	width: 100%
	display: flex
	align-items: stretch
	flex-wrap: wrap
	border-radius: 40px
	margin: 0 0 32px
	background: #e6e6e6
	&.active
		.sales-box__img
			img
				filter: none
	&__img
		@include d-flex
		max-width: 450px
		width: 100%
		padding: 38px 32px
		img
			filter: grayscale(1)
			mix-blend-mode: multiply
			max-width: 302px
			max-height: 134px
	&__body
		width: calc(100% - 450px)
		position: relative
		z-index: 1
	&__content
		width: 100%
		height: 100%
		background: #fff
		border-radius: 30px
		padding: 40px
		display: flex
		flex-direction: column
		.btn
			margin: auto 0 0
	h3
		font-size: 36px
		font-weight: bold
		width: 100%
	.box-text
		font-size: 24px
		margin: 24px 0
		&:last-child
			margin-bottom: 0
	&:last-child
		margin: 0

.sales-slider
	position: relative
	z-index: 1
	&::before
		content: ''
		position: absolute
		right: 0
		top: 0
		height: 100%
		width: 362px
		height: 100%
		background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%)
		z-index: 1
	.slick-track
		display: flex
		align-items: stretch
	.slide
		width: 644px
		margin: 0 32px 0 0
		height: auto
	.box-text
		max-width: 428px
	h3
		max-width: 364px
	&__nav
		position: absolute
		z-index: 1
		right: 136px
		top: 0
		padding: 54px 0
		height: 100%

.sales-history
	margin: 0 0 120px

.logo-company
	max-width: 302px
	margin: 0 auto 0 0
	img
		filter: grayscale(1)
		mix-blend-mode: multiply

.qr-code
	@include d-flex

.qr-wrapper
	width: 100%
	margin: 54px auto
	.modal-title
		margin: 0 auto 24px
		max-width: 460px
